.form-profile {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin: 117px 0 0 0;
}
@media screen and (max-width: 1020px) {
  .form-profile {
    margin: 90px 0 0 0;
  }
}
@media screen and (max-width: 560px) {
  .form-profile {
    margin: 74px 0 0 0;
  }
}
.form-profile__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 9px;
}

.form-profile__container:first-of-type {
  border-bottom: 1px solid #e8e8e8;
}
.form-profile__button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s linear;
  padding: 0;
  border: none;
  margin-top: 193px;
  background: none;
  margin-bottom: 14px;
  min-width: 260px;
}

.form-profile__button:hover {
  opacity: 0.6;
}
.form-profile__button_disabled {
  opacity: 0.6;
  cursor: default;
}
@media screen and (max-width: 1020px) {
  .form-profile__button {
    margin-top: 183px;
  }
}
@media screen and (max-width: 560px) {
  .form-profile__button {
    font-size: 12px;
    line-height: 15px;
    margin-top: 351px;
    margin-bottom: 14px;
  }
}
.form-profile__input {
  margin: 0;
  padding: 7px 0;
  border: none;
  outline: none;
  border-radius: 8px;
  text-align: right;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  font-family: "Inter", sans-serif;
}
.form-profile__input:focus {
  box-shadow: 0 0 3px 3px #d9d9d9;
}
.form-profile__spanError {
  font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin: 0;
    padding: 0;
    color: #EE3465;
    text-align: right;
}
.form-profile__textError {
  margin: 0;
}
.form-profile__input--error {
  border: 1px solid #EE3465;
}

.form-profile__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
  padding: 7px 0;
}

.profile {
  max-width: 410px;
  margin: 0 auto;
  padding: 74px 0;
}
@media screen and (max-width: 1020px) {
  .profile {
    padding: 310px 0 269px;
  }
}
@media screen and (max-width: 560px) {
  .profile {
    max-width: 260px;
    padding: 144px 0 40px;
  }
}

.profile__title {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 74px 0 0 0;
}

@media screen and (max-width: 1020px) {
  .profile__title {
    margin: 0;
  }
}
@media screen and (max-width: 560px) {
  .profile__title {
    margin: 0;
  }
}

.profile__link {
  color: #ee3465;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
  transition: opacity 0.3s linear;
}
.profile__link:hover {
  opacity: 0.6;
}
@media screen and (max-width: 560px) {
  .profile__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
  }
}
