.popup {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.popup_opened {
    opacity: 1;
    visibility: visible;
    z-index: 100;
    transition: ease-out 0.2s;
}
.popup__container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    background: #ffffff;
    border-radius: 10px;
    max-width: 430px;
    padding: 34px 36px 37px 36px;
    box-sizing: border-box;
    
   
}

@media screen and (max-width: 500px) {
    .popup__container {
        padding-top: 53px;
        max-width: 282px;
      padding: 25px 22px 25px 22px;
    }
}
.popup__content {
    position: relative;
}
.popup__close {
    position: absolute;
    width: 32px;
    height: 32px;
    opacity: 1;
    background-image: url(../../images/Close-Icon.svg);
    background-color: transparent;
    border: none;
    outline: none;
    top: -75px;
    right: -75px;
    background-size: 100%;
    transition: 0.2s linear;
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 500px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -60px;
        right: -22px;
    }
}
.popup__image {
    display: block;
    max-width: 75vw;
    max-height: 75vh;
    object-fit: contain;
    margin: auto;
  }
  .popup__inform {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
  }