.form-login {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 0 0 0;
}
@media screen and (max-width: 560px) {
  .form-login {
    margin: 80px 0 0 0;
  }
}
.form-login__label {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: #a0a0a0;
}
.form-ligin__button {
  width: 100%;
  background: #3456f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border-radius: 3px;
  color: #fff;
  min-height: 45px;
  cursor: pointer;
  transition: opacity 0.3s linear;
  padding: 0;
  border: none;
  margin-top: 160px;
  margin-bottom: 16px;
  min-width: 260px;
}
.form-ligin__button:hover {
  opacity: 0.6;
}
.form-ligin__button_disabled {
  opacity: 0.6;
}
@media screen and (max-width: 560px) {
  .form-ligin__button {
    font-size: 12px;
    line-height: 15px;
    margin-top: 248px;
    margin-bottom: 14px;
  }
}
.form-ligin__input {
  max-width: 396px;
  margin-top: 10px;
  outline: none;
  padding: 14px;
  border: none;
  background: #f4f4f4;
  border-radius: 8px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  font-family: "Inter", Arial, sans-serif;
}
.form-ligin__input:focus {
  box-shadow: 0 0 3px 3px #d9d9d9;
}

.form-ligin__input--error {
  border: 1px solid #EE3465;
}
.form-ligin__spanError {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
margin: 0;
padding: 0;
color: #EE3465;
}
.form-ligin__textError {
  position: absolute;
  margin: 10px 0;
}
.login {
  max-width: 396px;
  margin: 0 auto;
  padding: 70px 0;
}
@media screen and (max-width: 1020px) {
  .login {
    padding: 232px 0;
  }
}
@media screen and (max-width: 560px) {
  .login {
    padding: 56px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.login__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  margin: 35px 0 0 0;
}
@media screen and (max-width: 560px) {
  .login__title {
    margin: 45px 0 0 0;
  }
}
.login__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
  margin-block: 0;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 560px) {
  .login__text {
    font-size: 12px;
    line-height: 15px;
  }
}
.login__link {
  color: #3456f3;
  text-decoration: none;
  display: inline-block;
  margin-left: 6px;
  cursor: pointer;
  transition: opacity 0.3s linear;
}
.login__link:hover {
  opacity: 0.6;
}
